<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
</head>

<body>
    <h2>Search public repos from GitHub</h2>
    <label id="language-label" for="">Language</label>
    <!-- <input name="language-input" type="text" id="language-input" onkeyup="filterRepos()" placeholder="Enter a language of your choice.."> -->

    <select name="l" id="search_language">
        <option value="default">Select a language</option>
        <option value="C">C</option>
        <option value="C#">C#</option>
        <option value="C++">C++</option>
        <option value="CoffeeScript">CoffeeScript</option>
        <option value="CSS">CSS</option>
        <option value="Dart">Dart</option>
        <option value="DM">DM</option>
        <option value="Elixir">Elixir</option>
        <option value="Go">Go</option>
        <option value="Groovy">Groovy</option>
        <option value="HTML">HTML</option>
        <option value="Java">Java</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Kotlin">Kotlin</option>
        <option value="Objective-C">Objective-C</option>
        <option value="Perl">Perl</option>
        <option value="PHP">PHP</option>
        <option value="PowerShell">PowerShell</option>
        <option value="Python">Python</option>
        <option value="Ruby">Ruby</option>
        <option value="Rust">Rust</option>
        <option value="Scala">Scala</option>
        <option value="Shell">Shell</option>
        <option value="Swift">Swift</option>
        <option value="TypeScript">TypeScript</option>
    </select>

    <button id="submit-button" onclick="redirect()">Submit</button>
    <h3>Most starred public repos for {{ language }}</h3>
    <input type="text" id="filterTable-input" onkeyup="filterRepos()" placeholder="Filter the table for a repo.."
        title="Type in a repo name">

    <table id="myTable" class="sortable">
        <thead>
            <tr>
                <th>Repo_name</th>
                <th>Stars</th>
                <th>Repo_url</th>
            </tr>
        </thead>
        <tbody>
            {% for repo in repos: %}
            <tr>
                <td>{{ repo.repo_name }}</td>
                <td>{{ repo.stars }}</td>
                <td><a href='{{ repo.repo_url }}'>{{ repo.repo_url }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="/static/js/search.js"></script>
</body>

</html>